@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
font-family: "Nunito Sans", sans-serif;
margin:0;
padding: 0;
}

.wrapper{
max-width: 800px;
margin: 60px auto;
padding: 20px;
}

h1{
font-size: 59px;
margin-bottom: 40px;
}

h3{
font-size: 30px;
color:black;
}

.wrapper p{
font-size: 33px;
line-height: 1.6;
color: black;
margin-bottom: 20px;
padding-bottom: 20px;
border-bottom: 1px solid #333;
}

p:last-of-type{
border-bottom: none;
}