@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
}
header {
    background-color: #121212;
    color: white;
    position: relative;
}
.TheHeader {
    display: grid;
    justify-content: space-between;
    padding: 15px 10px;
    align-items:center;
    width: 100%;
nav u1
}
.TheHeader nav {
    display: flex;
    align-items: center;
}
.TheHeader nav a {
        padding: 15px;
        transition: background-color 0.3s ease, color 0.3s ease;
        border-radius: 10px;
}
.TheHeader nav a:hover {
     color: rgb(2, 2, 2);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
.TheHeader nav ul {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}
.TheHeader nav ul li {
    padding: 0 30px;
    font-size: 21px;
    font-family: "Nunito Sans", sans-serif;
    list-style: none;
    text-decoration: none;
}
.TheHeader li a {
    color: white;
    text-decoration: none;
}
#LogoHeader img {
    width: 60px;
}
#LogoHeader h1 {
    font-size: 25px;
    display: flex;
    align-items: center;
    font-family: "Nunito Sans", sans-serif;
    margin-left: 250px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
}
#LogoHeader a {
    color: rgb(3, 3, 3);
    text-decoration: none;
}
.IconsLogos {
    display: flex;
    align-items: center;
    margin-right: 250px;
}
.IconsLogos span {
    font-size: 40px;
    padding: 0 5px;
}
.IconsLogos a {
    text-decoration: none;
    color: white;
        margin-top: -15px;

}

.IconsLogos p {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-family: "Nunito Sans", sans-serif;
}

#profile {
    display: flex;
}
#dropdown1 {
    padding: 15px;
    margin-top: -15px;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 10px;
}
#dropdown1:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}
#dropdown2 {
    padding: 15px;
    margin-top: -15px;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 10px;
}
#dropdown2:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: sandybrown;
}
footer .about-us 
{
    height: auto;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
    padding: 20px;
}
footer .front-text 
{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}
.logo 
{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-column: 1 / 2;
                grid-row: 2 / 4;
}
.text 
{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-column: 2 / 4;
    grid-row: 2 / 4;
}
.about-us-text 
{
    font-family: sans-serif, Arial;
    font-weight: bold;
    font-size: 20px;
    color: white;
    text-decoration: underline;
}
.paragraph 
{
    font-family: sans-serif, Arial;
    font-weight: bold;
    font-size: 14px;
    color: white;
}
.bilde-logo 
{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.info 
{
    background-color: rgb(136, 93, 56);
    border-color: rgb(99, 69, 42);
    border-style: solid;
    border-radius: 8px;
    border-width: 1px;
    transition: box-shadow 0.15s;
    opacity: 0.15s;
}
.info:hover 
{
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15);
    opacity: 0.7;
}
.info:active 
{
    opacity: 0.8;
}
