<<<<<<< HEAD
 header{
    display:flex;
    justify-content: space-between;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: yellow;
    padding: 15px;
 }
 p  {
    font-size:28px;
    color: green;
 }
 ul {
    display: flex;
    list-style-type:none;
    gap:98px;
 }
 li{
   color:black;
   font-family:sans-serif;
   font-size: 25px;
 }
.user-menu {
   display:flex;
   gap: 20px;
=======
 header{
    display:flex;
    justify-content: space-between;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: yellow;
    padding: 15px;
 }
 p  {
    font-size:28px;
    color: green;
 }
 ul {
    display: flex;
    list-style-type:none;
    gap:98px;
 }
 li{
   color:black;
   font-family:sans-serif;
   font-size: 25px;
 }
.user-menu {
   display:flex;
   gap: 20px;
>>>>>>> 76d331a4bdd7f86a8d8e57d9a75990188c4f060d
   }